
/* Estilos para pantallas de computadoras */

@media (min-width: 768px){

    header {
        display: flex;
        flex-direction: column; /* Alinea los elementos dentro del header en una columna */
        align-items: center;
        background-color: #BBBBBB;

        height: 385px;

        padding-top: 58px;

        padding-bottom: 1%;
    }
    
    .header-top {
        display: flex;
        justify-content: space-around; /* Asegura espacio entre el logo y la barra de navegación */
        align-items: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        padding: 10px 20px 10px 20px;
        /* Añade algo de espacio alrededor del contenido */
        /* margin-right: 30px;
        margin-left: 0px; */

    }
    
    .logo img {
        max-width: 100%; /* Asegura que la imagen no se desborde */
    }
    
    .barra-nav {
        text-align: center; /* Centra el contenido del nav */
    }
    
    .lista-nav {
        display: flex; 
        list-style: none; 
        padding: 0; 
        justify-content: center; /* Centra los elementos de la lista */
    }
    
    .lista-nav li {
        margin-right: 20px; 
        text-transform: uppercase;
        font-weight: bold;
    }
    
    
    
    .lista-nav li:hover {
        color: #C78C19;
    }
    
    /* ---------- EXPERIMENTO ENLACES ---------------- */
    
    .lista-nav a {
        color: #000000;
        text-decoration: none;
    }
    
    .lista-nav a:hover {
        color: #C78C19;
    }
    
    .titulo {
        background-color: #BBBBBB;
        text-align: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        /* padding: 20px 0;  */
        /* Añade espacio vertical alrededor del título */

        /* height: 55px; */
        
        
    }
    
    .tituloTexto {
        font-size: xx-large;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Protest Strike', serif;
        letter-spacing: 2px;

        margin-bottom: 15px;
        margin-top: 70px;

    }

    main {
        background-color: black;
    }

    .redes {
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center; /* Opcional: Para centrar el contenedor */
        /* margin-bottom: 2%; */
    }

    .redes h3 {
        color: #BBBBBB;
        font-family: 'Roboto', serif;
        margin-bottom: 2%;
        margin-top: 0%;
    }
    
    .iconos-redes {
        background-color: rgb(34, 34, 34);

        width: 20%;
        margin-left: auto;
        margin-right: auto;

        padding-top: 2%;
        padding-bottom: 2%;

        border-radius: 15px;
        
        list-style-type: none; /* Quita los puntos de la lista */
        /* padding: 0;
        margin: 0; */
        display: flex; /* Usamos flexbox para alinear los elementos en una fila */
        justify-content: center; /* Opcional: Para centrar los elementos dentro del contenedor */
    }
    
    .iconos-redes li {
        margin: 0 10px; /* Espacio entre los íconos */
    }
    
    .iconos-redes li img {
        width: 30px; /* Ajusta el tamaño de los íconos */
        height: 30px; /* Asegura que todas las imágenes tengan el mismo tamaño */
    }
    

    footer {
        text-align: center;
        background: url(imgs/bg.jpg);
        padding: 40px;
    }
    
    .copyright {
        color: white;
        font-size: 13px;
        margin: 20px;
    }

}

/* Estilos para tablets y dispositivos móviles: */

@media (max-width: 767px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; /* Esto previene el scroll horizontal */
    }
    

    header {
        display: flex;
        flex-direction: column; /* Alinea los elementos dentro del header en una columna */
        align-items: center;
        background-color: #BBBBBB;
        height: 385px;
        padding-top: 58px;

    }
    
    .header-top {
        display: flex;
        justify-content: space-around;
        /* Asegura espacio entre el logo y la barra de navegación */
        align-items: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        padding: 10px 0px 10px 0px;
        /* Añade algo de espacio alrededor del contenido */
        /* margin-right: 30px;
        margin-left: 0px; */
    }
    
    .logo img {
        max-width: 100%; /* Asegura que la imagen no se desborde */
    }
    
    .barra-nav {
        text-align: center; /* Centra el contenido del nav */
    }
    
    .lista-nav {
        display: flex; 
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        list-style: none; 
        padding: 0; 
        justify-content: center; /* Centra los elementos de la lista */
    }
    
    .lista-nav li {
        margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .lista-nav li:last-child {
        margin-bottom: 0; /* Elimina el margen inferior del último elemento */
    }
    
    .lista-nav li:hover {
        color: #C78C19;
    }
    
    /* ---------- EXPERIMENTO ENLACES ---------------- */
    
    .lista-nav a {
        color: #000000;
        text-decoration: none;
    }
    
    .lista-nav a:hover {
        color: #C78C19;
    }
    
    .titulo {
        background-color: #BBBBBB;
        text-align: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        /* padding: 20px 0; */
        /* Añade espacio vertical alrededor del título */
        /* height: 55px; */
    }
    
    .tituloTexto {
        font-size: xx-large;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Protest Strike', serif;
        letter-spacing: 2px;
        margin-bottom: 15px;
        margin-top: 70px;
    }

    .redes {
        text-align: center; /* Opcional: Para centrar el contenedor */
    }
    
    .iconos-redes {
        list-style-type: none; /* Quita los puntos de la lista */
        padding: 0;
        margin: 0;
        display: flex; /* Usamos flexbox para alinear los elementos en una fila */
        justify-content: center; /* Opcional: Para centrar los elementos dentro del contenedor */
    }
    
    .iconos-redes li {
        margin: 0 10px; /* Espacio entre los íconos */
    }
    
    .iconos-redes li img {
        width: 30px; /* Ajusta el tamaño de los íconos */
        height: 30px; /* Asegura que todas las imágenes tengan el mismo tamaño */
    }
    

    footer {
        text-align: center;
        background: url(imgs/bg.jpg);
        padding: 40px;
    }
    
    .copyright {
        color: white;
        font-size: 13px;
        margin: 20px;
    }

}