


/* Estilos para pantallas de computadoras */

@media (min-width: 768px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; /* Esto previene el scroll horizontal */
    }

    header {
        display: flex;
        flex-direction: column; /* Alinea los elementos dentro del header en una columna */
        align-items: center;
        background-color: #BBBBBB;

        height: 385px;

        padding-top: 58px;
    }
    
    .header-top {
        display: flex;
        justify-content: space-around; /* Asegura espacio entre el logo y la barra de navegación */
        align-items: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        padding: 10px 20px 10px 20px;
        /* Añade algo de espacio alrededor del contenido */
        /* margin-right: 30px;
        margin-left: 0px; */

    }
    
    .logo img {
        max-width: 100%; /* Asegura que la imagen no se desborde */
    }
    
    .barra-nav {
        text-align: center; /* Centra el contenido del nav */
    }
    
    .lista-nav {
        display: flex; 
        list-style: none; 
        padding: 0; 
        justify-content: center; /* Centra los elementos de la lista */
    }
    
    .lista-nav li {
        margin-right: 20px; 
        text-transform: uppercase;
        font-weight: bold;
    }
    
    
    
    .lista-nav li:hover {
        color: #C78C19;
    }
    
    /* ---------- EXPERIMENTO ENLACES ---------------- */
    
    .lista-nav a {
        color: #000000;
        text-decoration: none;
    }
    
    .lista-nav a:hover {
        color: #C78C19;
    }
    
    .titulo {
        background-color: #BBBBBB;
        text-align: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        /* padding: 20px 0;  */
        /* Añade espacio vertical alrededor del título */

        /* height: 55px; */
        
        
    }
    
    .tituloTexto {
        font-size: xx-large;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Protest Strike', serif;
        letter-spacing: 2px;

        margin-bottom: 15px;
        margin-top: 70px;

    }
    
    
    
    main{
        margin-top: 0;

        background-color: black;
    }
    
    .item{
        background-color: white;
        height: 380px;
    }
    
    .productos {
        width: 70%;
        margin: 0 auto;
        padding: 50px;
    }
    
    .productos li {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin: 0 1.5%;
        padding: 30px 20px;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 15px;

        margin-top: 40px;

        transition: all 0.3s ease;
    
        /* background-color: #BBBBBB; */
    }

    .ultimo{
        height: 380px;
    }

    
    
    .productos li:hover {
        /* border-color: #C78C19; */
        transform: scale(1.10)
    }

    /* .productos li:hover h2{
        font-size: 33px;
    } */

    
    .productos li:active {
        border-color: #088c19;
    }
    
    .productos h2 {
        font-size: 30px;
        font-weight: bold;
        
    }
    
    
    .imagenProducto{

        max-width: 100%;

    }
    
    .descripcion {
        font-size: 18px;
    }
    
    .precio {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    footer {
        text-align: center;
        background: url(imgs/bg.jpg);
        padding: 40px;
    }
    
    .copyright {
        color: white;
        font-size: 13px;
        margin: 20px;
    }

}


/* Estilos para tablets y dispositivos móviles: */

@media (max-width: 767px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; /* Esto previene el scroll horizontal */
    }
    

    header {
        display: flex;
        flex-direction: column; /* Alinea los elementos dentro del header en una columna */
        align-items: center;
        background-color: #BBBBBB;
        height: 385px;
        padding-top: 58px;

    }
    
    .header-top {
        display: flex;
        justify-content: space-around;
        /* Asegura espacio entre el logo y la barra de navegación */
        align-items: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        padding: 10px 0px 10px 0px;
        /* Añade algo de espacio alrededor del contenido */
        /* margin-right: 30px;
        margin-left: 0px; */
    }
    
    .logo img {
        max-width: 100%; /* Asegura que la imagen no se desborde */
    }
    
    .barra-nav {
        text-align: center; /* Centra el contenido del nav */
    }
    
    .lista-nav {
        display: flex; 
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        list-style: none; 
        padding: 0; 
        justify-content: center; /* Centra los elementos de la lista */
    }
    
    .lista-nav li {
        margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .lista-nav li:last-child {
        margin-bottom: 0; /* Elimina el margen inferior del último elemento */
    }
    
    .lista-nav li:hover {
        color: #C78C19;
    }
    
    /* ---------- EXPERIMENTO ENLACES ---------------- */
    
    .lista-nav a {
        color: #000000;
        text-decoration: none;
    }
    
    .lista-nav a:hover {
        color: #C78C19;
    }
    
    .titulo {
        background-color: #BBBBBB;
        text-align: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        /* padding: 20px 0; */
        /* Añade espacio vertical alrededor del título */
        /* height: 55px; */
    }
    
    .tituloTexto {
        font-size: xx-large;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Protest Strike', serif;
        letter-spacing: 2px;
        margin-bottom: 15px;
        margin-top: 70px;
    }
    

    /*  */

    main{
        margin-top: 0;

        background-color: black;
    }
    
    .item{
        background-color: white;
    }

    .productos {
        width: 70%;
        margin: 0 auto;
        padding: 50px;
        display: flex; /* Cambia el contenedor a un contenedor flex */
        flex-direction: column; /* Alinea los elementos en una columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }
    
    .productos li {
        display: block; /* Cambia cada elemento a bloque */
        text-align: center;
        width: 100%; /* Asegura que cada elemento ocupe todo el ancho disponible */
        /* vertical-align: top; */
        margin: 20px 0; /* Añade espacio entre los elementos */
        padding: 30px 20px;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 15px;

        margin-top: 40px;
    }

    
    .productos li:hover {
        border-color: #C78C19;
    }
    
    .productos li:active {
        border-color: #088c19;
    }
    
    .productos h2 {
        font-size: 30px;
        font-weight: bold;
    }
    
    .productos li:hover h2 {
        font-size: 33px;
    }

    .imagenProducto{

        max-width: 100%;

    }
    
    .descripcion {
        font-size: 18px;
    }
    
    .precio {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
    

    /*  */
    
    
    footer {
        text-align: center;
        background: url(imgs/bg.jpg);
        padding: 40px;
    }
    
    .copyright {
        color: white;
        font-size: 13px;
        margin: 20px;
    }

}